.settings {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: baseline;
}
.setting-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 370px;
  box-shadow: 0px 0px 5px var(--bg-color-dark);
  padding: 7px;
  margin: 3px;
  border-radius: 3px;
}
.setting-group-header {
  font-size: larger;
  margin: 0 0 15px 0;
}
.row-input {
  margin-bottom: 10px !important;
}
.theme-label,
.theme-label .MuiSvgIcon-root {
  font-size: 20px;
}
.theme-label .MuiSvgIcon-root {
  margin-right: 5px;
  margin-bottom: -3px;
}
