.navbar-item {
  display: flex;
  flex: 0 1 100%;
}
.navbar-item a,
.navbar-item-button {
  width: 100%;
  height: 100%;
}
.navbar-item-button {
  border-radius: 0 !important;
}
.navbar-item-link-active .navbar-item-button {
  color: var(--accent-color);
}
.navbar-item-button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-item-button-icon {
  font-size: 0px;
}
.navbar-item-button-label {
  padding-left: 5px;
}
@media (max-width: 575.98px) {
  .navbar-item-button-label {
    display: none;
  }
}
