.user-entry-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--bg-color-medium);
  margin: 0;
  padding: 5px;
}
.user-entry-container:last-child {
  border-bottom: none;
}
.user-entry-langs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.language-entry-circle {
  margin: 1px;
}
.language-entry .language-entry-circle.bottom {
  color: var(--bg-color-medium);
}
.language-entry .language-entry-circle.top {
  position: absolute;
  left: 0;
}
.user-name {
  text-align: center;
}

@media (max-width: 575.98px) {
  .btn-hello-label {
    display: none;
  }
  .user-entry-container .MuiButton-root {
    min-width: 0;
  }
  .user-name {
    max-width: 100px;
  }
}
.flag-icon {
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5) inset;
  width: 70%;
  height: 70%;
  border-radius: 50%;
}
